<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Team</title>
<style type="text/less">
	body {
		margin: 0;
		padding: 0;
	}
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
		border-radius: 3px;
	}
	.signin {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(255,255,255,.8);
		display: flex;
		justify-content: center;
		align-items: center;
		ul {
			width: 100%;
			max-width: 20rem;
			background: rgba(200,200,200,1);
			li {
				input {
					box-sizing: border-box;
					padding: .5rem;
					width: 100%;
				}
			}
		}
	}
</style>
<div id="app">
	<signin v-if="$store.state.signin"></signin>
	<button v-if="!$store.state.online" v-on:click="$store.commit('signin', true)" v-text="$store.state.signin">Login</button>
	<router-link to="/private">private</router-link>
	<router-link to="/foo">Go to Foo</router-link>
	<router-link to="/bar">Go to Bar</router-link>
	<router-view></router-view>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js" ></script>
<!--script src="https://cdn.jsdelivr.net/npm/vue"></script-->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vuex@3.1.1/dist/vuex.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
	// 组件模式是最大化复用功能项, 如 list user curd mark 抽象列, 当没有组件需要这个像时, 既可以移除
	Vue.component('list', {
		template: `
		<div class="list_project">
			<ul>
				<li>从 list +</li>
			</ul>
		</div>
		`,
		data: function () {
			return {
				list: [
					{id:'aoaow', name:'aoaoao'},
				]
			}
		}
	})
	Vue.component('signin', {
		template: `
		<div class="signin">
			<ul>
				<li><input v-model="account" placeholder="account" /></li>
				<li><input v-model="password" placeholder="password" /></li>
				<li v-on:click="signin">Sign in</li>
				<li>Sign up , Forgot your account ?</li>
			</ul>
		</div>`,
		data: function () {
			return {
				account: "Last",
				password: "dedeff",
			}
		},
		methods: {
			signin: function () {
				axios.post('/signin', { account: this.account, password: this.password }).then(function (r) {
					console.log(r)
					switch(r.status) {
						case 200: console.log(r.data); store.commit("online", true); store.commit("signin", false); break
						default: console.log(r.data)
					}
				})
			}
		}	
	})
	Vue.component('signup', {
		template: `
		<div class="signin">
			<ul>
				<li><input v-model="account" placeholder="account" /></li>
				<li><input v-model="password" placeholder="password" /></li>
				<li v-on:click="signin">Sign up</li>
				<li>Sign in , Forgot your account ?</li>
			</ul>
		</div>`,
		data: function () {
			return {
				account: "Lsast",
				password: "00000000000000000000000000000000",
			}
		},
		methods: {
			signin: function () {
				let ajax = new XMLHttpRequest()
				ajax.open('post', '/signup', true)
				ajax.setRequestHeader('content-type', 'application/x-www-form-urlencoded')
				ajax.onreadystatechange = function(){ if (ajax.readyState == 4) {
					if (ajax.status == 200) {
						console.log(ajax.responseText)
						alert('成功时')
						store.commit("online", true)
						store.commit("signin", false)
					}
					else{ alert('失败时'+this.account); console.log(ajax.responseText) }
				}}
				console.log(this.account)
				ajax.send('account='+this.account+'&password='+this.password)
			}
		}
	})

	function alert(r){
		console.log(r)
	}

	Vue.component('sources', {
		template: `<ul class="source"><li v-for="source in sources"><span v-text="source.name"></span></li></ul>`,
		data: function () { return { sources: [{ id: '323', name: 'asyam', detail: 'ams' }] } }
	})
	Vue.component('ideas', {
		template: `<ul class="idea"><li v-for="idea in ideas"><span v-text="idea.name"></span></li></ul>`,
		data: function () { return { ideas: [{ id: '323', name: '自动化', detail: 'ams' }, { id: '323', name: '数控车床', detail: 'ams' }, { id: '323', name: '弹夹', detail: 'ams' }] } }
	})
	Vue.component('users', {
		template: `<ul class="users"><li v-for="user in users"><span v-text="user.name"></span><span v-text="user.email"></span><span v-text="user.coordinate"></span></li></ul>`,
		data: function () { return { users: [{ id: '123', name: 'Last', email: 'Last@max.exp', coordinate: '奧林帕斯山' }] } },
		//mounted () { axios.get('/userlist').then(response => (this.info = response))}
	})
	Vue.component('guilds', {
		template: `<ul class="guilds"><li v-for="item in list"><router-link :to="'p'+item.id"><span v-text="item.name"></span></router-link></li></ul>`,
		data: function () { return { list: [{ id: '122', name: '项目组' }] } }
	})
	Vue.component('projects', {
		template: `<ul class="projects">
			<li v-for="item in list">
				<router-link :to="'p'+item.id"><span v-text="item.name"></span></router-link>
			</li>
		</ul>`,
		data: function () {
			return {
				list: [
					{ id: '122', name: '项目组' }
				]
			}
		}
	})
	Vue.component('project_create', {
		template: `<ul>
			<li><input v-model="name" placeholder="project name"/></li>
			<li>aoaoa</li>
		</ul>`,
		data: function () {
			return {
				name: "",
			}
		},
		// 创建时要配置的属性, 如公开和私有化, 版权声明, 文档名
	})
	Vue.component('tasks', {
		template: `<ul class="tasks"><li v-for="item in list"><span v-text="item.name"></span></li></ul>`,
		data: function () { return { list: [{ id: '122', name: 'task' }] } }
	})
	Vue.component('issues', {
		template: `<ul class="issues">
			<li v-for="item in list"><span v-text="item.name"></span></li>
		</ul>`,
		data: function () {
			return {
				list: [
					{ id: '122', name: 'issue' },
					{ id: '122', name: 'issue' },
					{ id: '122', name: 'issue' },
				]
			}
		}
	})
	Vue.component('items',{
		template: `<ul class="items">
			<li v-for="item in list">
				<span v-text="item.name"></span>
				<span v-text="item.info"></span>
				<issues/>
			</li>
		</ul>`,
		data: function () {
			return {
				list:[{
					id:"5645",
					time:"16515146",
					name:"item_name",
					info:"item_info",
					issues:[{
						id:"1231",
						time:"4615156151",
						content:"15515啊啊萨多瓦上的",
						reply:[{
							id:"4654",
							time:"46465654",
							content:"reply info is..",
							attach:[{
								id:"2342",
								time:"14465464",
								name:"cjoaijcoia",
								type:"zip",
								size:"10240000", //byte
							}]
						}]
					}]
				}]
			}
		}
	})
	

	// 页面告诉组件需要显示什么, 组件向仓库索取必要信息, 仓库向Server读取必要信息
	const Home = {
		template: '<main><sources/><ideas/><users/><projects/></main>',
		data: function () {
			return {}
		},
		mounted: function () {
			this.getdata()
		},
		methods: {
			getdata: function(){
				let ajax = new XMLHttpRequest()
				ajax.open('get', '/home', true)
				ajax.setRequestHeader('content-type', 'application/x-www-form-urlencoded')
				ajax.onreadystatechange = function(){ if (ajax.readyState == 4) {
					if (ajax.status == 200) {
						console.log(ajax.responseText)
						alert('成功时')
						//store.commit("online", true)
						//store.commit("signin", false)
					}else{
						alert('失败时'+this.account);
						console.log(ajax.responseText)
					}
				}}
				console.log(this.account)
				ajax.send('account='+this.account+'&password='+this.password)
			}
		},
		//主页显示 source 源, ideas 想法, user 新角色活跃角色, project 新项目活跃项目
	}
	const Idea = { template: '<main>aaaaaa</main>' }
	const Project = {
		template: `<main>
			<project_create/>
			<hr/>
			<h1 v-text="name"></h1>
			<items/>
			<tasks/>
			<users/>
			<issues/>
			issue user -- aaaaaassssssss
		</main>`,
		// 项目主体, 取项目主体信息
		// get数据中得到:
		data: function () {
			return {
				id: "4556",
				name: "Pcjsaiajia",
			}
		},
		computed: {
			count() {
				return this.$store.state.count
			}
		},
		mounted: function () {
			this.getdata()
		},
		methods: {
			getdata: function () {
				axios.get('/project', {params:{id: this.id}}).then( function(r){
					switch(r.status) {
						case 200: console.log(r.data); break
						default: console.log(r.data)
					}
					console.log(r)
				} )
			}
		}
	}
	const Private = { template: '<main><tasks/><issues/>私有 列 task 源 集合 项 集合 组 交互 个体 交互 关注集 收藏集 参与集</main>' }
	const Foo = { template: '<div>foo</div>' }
	const Bar = { template: '<div>bar</div>' }
	const Signup = { template: `<main><signup/></main>`
	}

	const router = new VueRouter({
		mode: 'hash', // hash | history
		routes: [
			{ path: '/', component: Home },
			{ path: '/foo', component: Foo },
			{ path: '/bar', component: Bar },
			{ path: '/i:id', component: Idea },
			{ path: '/private', component: Private },
			{ path: '/p:id', component: Project },
			{ path: '/signup', component: Signup }
		]
	})

	const store = new Vuex.Store({
		state: {
			count: 0,
			online: false, // 在线状态
			signin: false, // 登录窗口显示
			users: [],
		},
		mutations: {
			signin(state, value) { state.signin = value },
			online(state, value) { state.online = value },
		}
	})
	
	var app = new Vue({
		store,
		router,
		el: '#app',
		mounted() {
			// 先检查是否持已有 token
			this.renew_token() // 初始化不必检查有效期, 直接时续约 token
			// 续约失败时清空状态和数据
			// 发送当前主页版本, 读取版本, 高于当前版本的会附带数据, 更新版本数据 到 local
			// 建立 ws 连接
		},
		methods: {
			renew_token: function () {
				let c_id = document.cookie.indexOf("id=");
				let c_token = document.cookie.indexOf("token=");
				if( c_id != -1 && c_token != -1){
					axios.get('/signrw').then(r => {
						store.commit('online', true)
					}).catch(error => {
						store.commit('online', false)
						this.set_cookie('id', '', -1)
						this.set_cookie('token', '', -1)
						console.log("error.response")
						//console.clear()
					})
				}
			},
			set_cookie: function (cname, cvalue, exdays) {
				let d = new Date()
				d.setTime(d.getTime() + (exdays*24*60*60*1000))
				let expires = "expires="+d.toUTCString()
				document.cookie = cname + "=" + cvalue + "; " + expires
			}
		}
	})

</script>
