/**
点击:
元素不应被作为文字选中
元素在鼠标指向时应预响应待点击激活状态
元素在点击过程中响应变化过渡
元素在完成过渡后的状态转变
**/

.click {
    cursor: pointer;
    transition: all .75s;
}

.click:hover {
    background: #ff1414;
}

/**
激活:
元素应该更醒目 大小 字重 颜色高亮
应当有过渡

交互:
焦点位于目标群时, 方向键可以移动焦点
**/